# Dictionaries
- A dictionary stores data in key–value pairs.
- Think of it like a real dictionary: a word (**key**) and its meaning (**value**).

Example-

- {'apple' : 'Fruit'}

apple = key,

Fruit = value

In [1]:
d = {1: 'Apple', 2: 'Mango', 3: 'Grapes'}
print(d)

{1: 'Apple', 2: 'Mango', 3: 'Grapes'}

## How to Create a Dictionary
Arrange sequence of elements within curly {} braces, separated by a 'comma'.

In [2]:
r = {'country': 'India'}
print(r)

{'country': 'India'}

In [ ]:
d1 = {1: 'Apple', 2: 'Mango', 3: 'Grapes'}
print(d1)

# create dictionary using dict() constructor
d2 = dict(a = "Orange", b = "Banana", c = "Coconut")
print(d2)

{1: 'Apple', 2: 'Mango', 3: 'Grapes'}
{'a': 'Orange', 'b': 'Banana', 'c': 'Coconut'}

## Things to remeber:

1. Keys must be unique.

In [3]:
student = {
    "name": "Ravi",
    "age": 15,
    "age": 16    # Duplicate key
}
print(student)

{'name': 'Ravi', 'age': 16}

2. Keys can be strings, numbers or tuples but not lists.

In [6]:
example = {
    "name": "Ravi",      # string key
    101: "Roll Number",  # number key
    (1, 2): "tuple key"  # tuple key
}
print(example)

{'name': 'Ravi', 101: 'Roll Number', (1, 2): 'tuple key'}

In [7]:
bad_example = {[1, 2, 3]: "list key"}   # Error

TypeError: unhashable type: 'list'

3. Dictionary keys are case sensitive.

In [8]:
student = {
    "Name": "Ravi",
    "name": "Aman"
}
print(student)

{'Name': 'Ravi', 'name': 'Aman'}

### Workout Questions
1. Create a dictionary to store the following student information:

- Name: "Anita"

- Age: 14

- Class: 9

- Marks: 88

2. Make a dictionary with 3 countries and their capitals. Example keys: "India", "France", "Japan".

In [4]:
Student ={'Name': 'Anita', 'Age': 16, 'Class' : 9, 'Marks': 88}
print(Student)

{'Name': 'Anita', 'Age': 16, 'Class': 9, 'Marks': 88}

In [5]:
countries = {'India': 'Delhi', 'France': 'Paris', 'Japan': 'Tokyo'}
print(countries)

{'India': 'Delhi', 'France': 'Paris', 'Japan': 'Tokyo'}

## Accessing Dictionary Items

In [6]:
d = { "name": "Amit", 1: "Python", (1, 2): [3,6,9] }

# Access using key
print(d["name"])

# Access using get()
print(d.get("name"))

Amit
Amit

In [7]:
print(d[(1,2)])

[3, 6, 9]

## Adding and Updating Dictionary Items

In [8]:
d = {1: 'Taj Mahal', 2: 'Red Fort', 3: 'Qutub Minanar'}

# Adding a new key-value pair
d["age"] = 22

# Updating an existing value
d[1] = "India Gate"

print(d)

{1: 'India Gate', 2: 'Red Fort', 3: 'Qutub Minanar', 'age': 22}

In [9]:
d[4] = 'Hawa Mahal'
print(d)

{1: 'India Gate', 2: 'Red Fort', 3: 'Qutub Minanar', 'age': 22, 4: 'Hawa Mahal'}

In [10]:
d["age"] = 56
print(d)

{1: 'India Gate', 2: 'Red Fort', 3: 'Qutub Minanar', 'age': 56, 4: 'Hawa Mahal'}

## Removing Dictionary Items

In [12]:
d = {1: 'Sunflower', 2: 'Rose', 3: 'Jasmine', 4: 'Lily'}

**del()**: Remove the key.

In [13]:
# Using del to remove an item
del d[3]
print(d)

{1: 'Sunflower', 2: 'Rose', 4: 'Lily'}

**pop()**: Removes an item by key and returns its value.

In [14]:
# Using pop() to remove an item and return the value
val = d.pop(1) #sunflower
print(val)

Sunflower

**popitem()**: Removes and returns the last key-value pair.

In [16]:
# Using popitem to removes and returns
# the last key-value pair.
key, val = d.popitem()
print(f"Key: {key}, Value: {val}")

Key: 4, Value: Lily

**clear()**: Empties Dictionary.

In [17]:
# Clear all items from the dictionary
d.clear()
print(d)

{}

### Workout time
**<u>Library Books</u>**

Create a dictionary called *library* with these key–value pairs:

{

    "Book1": "Maths",

    "Book2": "Science",

    "Book3": "History"

}


*Task:*

1. Access and print the subject of "Book2".

2. Add a new key "Book4" with value "English".

3. Update "Book3" to "Geography".

In [15]:
library = {"Book1": "Maths", "Book2" : "Science", "Book3" : "History"}

In [16]:
print(library["Book2"])

Science

In [18]:
library["Book4"] = "English"
print(library)

{'Book1': 'Maths', 'Book2': 'Science', 'Book3': 'History', 'Book4': 'English'}

In [19]:
library["Book3"] = "Geography"
print(library)

{'Book1': 'Maths', 'Book2': 'Science', 'Book3': 'Geography', 'Book4': 'English'}

**<u>Grocery Items</u>**

{
    
    "apple": 50,

    "banana": 20,
    
    "milk": 40

}

*Tasks:*

- Remove "banana" using del.

- Remove "milk" using .pop().

- Clear the dictionary using .clear().

- Print the final dictionary.

In [20]:
Items = {"apple" : 50, "banana" : 20, "milk" : 40}
print(Items)

{'apple': 50, 'banana': 20, 'milk': 40}

In [21]:
del Items["banana"]
print(Items)

{'apple': 50, 'milk': 40}

In [22]:
val = Items.pop("milk")
print(val)
print(Items)

40
{'apple': 50}

In [23]:
Items.clear()
print(Items)

{}

## Iterating Through a Dictionary

In [24]:
d = {1: 'Pencil', 2: 'Pen', 'Windows': 11}

In [19]:
# Iterate over keys
for key in d:
    print(key)

1
2
Windows

In [20]:
# Iterate over values
for value in d.values():
    print(value)

Pencil
Pen
11

In [26]:
# Iterate over key-value pairs
for key, value in d.items():
    print(f"{key}: {value}")

1: Pencil
2: Pen
Windows: 11

### Workout Time
Create a dictionary of three students and their favorite subjects:

favorites = {
    
    "Ravi": "Maths",
    "Anita": "Science",
    "Aman": "English"    
}

Write a program to iterate through the dictionary and print each student’s name with their favorite subject.

In [27]:
favorites = {
    "Ravi" : "Maths",
    "Anita" : "Science",
    "Aman" : "English"
}

In [28]:
for k in favorites:
    print(k)

Ravi
Anita
Aman

In [29]:
for v in favorites.values():
    print(v)

Maths
Science
English

In [30]:
for k, v in favorites.items():
    print(f"{k}: {v}")

Ravi: Maths
Anita: Science
Aman: English

marks = {
    "Ravi": 85,
    "Anita": 92,
    "Aman": 78,
    "Neha": 95,
    "Sonia": 88
}

Write a program to:

1. Find the student who scored the highest marks.

2. Print their name and marks in this format:

Top scorer: Neha with 95 marks

## Nested Dictionaries

Dictionary within a Dictionary.

In [16]:
d = {
    1: 'Maths',
    2: 'Physics',
    3: {'A': 'Earth', 'B': 'Is', 'C': 'Beautiful'}
    }

print(d)

{1: 'Maths', 2: 'Physics', 3: {'A': 'Earth', 'B': 'Is', 'C': 'Beautiful'}}

In [23]:
print(d[3]['A'])

Earth

## Dictionary Comprehension
It’s a quick way to create dictionaries using a single line of code instead of writing a long loop.

*key: value for item in iterable*

In [11]:
keys = ['a', 'b', 'c', 'd', 'e']
values = [1, 2, 3, 4, 5]

dict = {}
for k, v in zip(keys, values):
    dict[k] = v

print(dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [10]:
dict = { k:v for k, v in zip(keys, values)}
print(dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### Zip()
It pairs up elements from the input iterables based on their index, forming tuples. The first elements of all input iterables form the first tuple, the second elements form the second tuple, and so on

In [ ]:
square = {}
for i in range(1, 5):
    dict[i] = i**2

print(square)

{1: 1, 2: 4, 3: 9, 4: 16}

In [13]:
square= {i: i**2 for i in range(1,5)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16}

### Task
Write a Python program using dictionary comprehension that takes each character from the string _"coding"_ and:

* stores the uppercase version of the character as the key,

* stores the character repeated three times as the value.

Output: {'O': 'ooo', 'N': 'nnn', 'I': 'iii', 'C': 'ccc', 'D': 'ddd', 'G': 'ggg'}

Hint- use l.upper() for key

In [4]:
d={}
for i in "coding":
    d[i.upper()]= i*3

print(d)

{'C': 'ccc', 'O': 'ooo', 'D': 'ddd', 'I': 'iii', 'N': 'nnn', 'G': 'ggg'}

In [5]:
d1 = {i.upper(): i*3 for i in "coding"}

print(d1)

{'C': 'ccc', 'O': 'ooo', 'D': 'ddd', 'I': 'iii', 'N': 'nnn', 'G': 'ggg'}

## Dictionary Methods
1. clear(): Removes all items from the dictionary.
2. copy(): Returns a shallow copy of the dictionary.
3. fromkeys(): Creates a dictionary from the given sequence.
4. get(): Returns the value for the given key.
5. items(): Return the list with all dictionary keys with values.
6. keys(): Returns a view object that displays a list of all the keys in the dictionary in order of insertion.
7. pop(): Returns and removes the element with the given key.
8. popitem(): Returns and removes the item that was last inserted into the dictionary.
9. setdefault(): Returns the value of a key if the key is in the dictionary else inserts the key with a value to the dictionary.
10. values(): Returns a view object containing all dictionary values, which can be accessed and iterated through efficiently.
11. update(): Updates the dictionary with the elements from another dictionary or an iterable of key-value pairs. With this method, you can include new data or merge it with existing dictionary entries.

### Items()

In [8]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
print(list(d.items())[1][0])
print(list(d.items())[0][1])
print(list(d.items())[2][1])

Age
Ram
India

### update()

In [25]:
d1 = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
d2 = {'Name': 'Neha', 'Age': '22'}

d1.update(d2)
print(d1)

{'Name': 'Neha', 'Age': '22', 'Country': 'India'}

### fromkeys()

In [26]:
dic=dict.fromkeys(range(5), True)

print(dic)

{0: True, 1: True, 2: True, 3: True, 4: True}

### Setdefault()

In [11]:
student = {"name": "Anita", "age": 20}

# If the key exists, setdefault() returns its value
print(student.setdefault("name", "Unknown"))

# If the key does not exist, it adds the key with the given default value
print(student.setdefault("grade", "A"))

# Now the dictionary has the new key-value pair
print(student)

Anita
A
{'name': 'Anita', 'age': 20, 'grade': 'A'}