# Tuple
* Tuples are similar to lists, but unlike lists, they cannot be changed after their creation (i.e., they are immutable).
* The main characteristics of tuples are being ordered , heterogeneous and immutable.

## Creating Tuple

In [1]:
tup = ()
print(tup)

()

In [2]:
# String
tup = ('Mahatma', 'Gandhi')
print(tup)

('Mahatma', 'Gandhi')

In [5]:
# List
li = [1, 2, 3, 4, 5]
print(tuple(li))

(1, 2, 3, 4, 5)

In [6]:
# Built in function
tup = tuple("Sun")
print(tup)

('S', 'u', 'n')

In [8]:
tup = (5, 'Hello', 7, 'World')
print(tup)

# Creating a Tuple with nested tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'language')
tup3 = (tup1, tup2)
print(tup3)

# Creating a Tuple with repetition
tup1 = ('Pen',) * 3
print(tup1)

(5, 'Hello', 7, 'World')
((0, 1, 2, 3), ('python', 'language'))
('Pen', 'Pen', 'Pen')

## Accessing of Tuples

In [29]:
# Accessing Tuple with Indexing
tup = tuple("Students")
print(tup[0])

# Accessing a range of elements using slicing
print(tup[1:4])  
print(tup[:3])
print(tup[2::-1])

# Tuple unpacking
tup = ("Raj", "Arun", "Gourav")

# This line unpack values of Tuple
a, b, c = tup
print(a)
print(b)
print(c)

S
('t', 'u', 'd')
('S', 't', 'u')
('u', 't', 'S')
Raj
Arun
Gourav

Task:

Print the first and last fruit.

Print the second and fourth elements.

## Concatenation of Tuples

In [19]:
tup1 = (0, 1, 2, 3)
tup2 = ('mango', 'apple', 'Grapes')

tup3 = tup1 + tup2
print(tup3)

(0, 1, 2, 3, 'mango', 'apple', 'Grapes')

## Slicing of Tuple

In [21]:
tup = tuple('Jhon Doe')

# Removing First element
print(tup[1:])

# Reversing the Tuple
print(tup[::-1])

# Printing elements of a Range
print(tup[2:5])

('h', 'o', 'n', ' ', 'D', 'o', 'e')
('e', 'o', 'D', ' ', 'n', 'o', 'h', 'J')
('o', 'n', ' ')

## Deleting a Tuple

In [30]:
tup = (0, 1, 2, 3, 4)
del tup

print(tup)

NameError: name 'tup' is not defined

## Tuple Unpacking with Asterisk (*)
The " * " operator can be used in tuple unpacking to grab multiple items into a list

In [31]:
tup = (1, 2, 3, 4, 5)

a, *b, c = tup

print(a) 
print(b) 
print(c)

1
[2, 3, 4]
5