# Tuple
* Tuples are similar to lists, but unlike lists, they cannot be changed after their creation (i.e., they are immutable).
* The main characteristics of tuples are being ordered , heterogeneous and immutable.

## Creating Tuple

In [1]:
tup = ()
print(tup)

()

In [2]:
# String
tup = ('Mahatma', 'Gandhi')
print(tup)

('Mahatma', 'Gandhi')

In [5]:
# List
li = [1, 2, 3, 4, 5]
print(tuple(li))

(1, 2, 3, 4, 5)

In [6]:
# Built in function
tup = tuple("Sun")
print(tup)

('S', 'u', 'n')

In [8]:
tup = (5, 'Hello', 7, 'World')
print(tup)

# Creating a Tuple with nested tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'language')
tup3 = (tup1, tup2)
print(tup3)

# Creating a Tuple with repetition
tup1 = ('Pen',) * 3
print(tup1)

(5, 'Hello', 7, 'World')
((0, 1, 2, 3), ('python', 'language'))
('Pen', 'Pen', 'Pen')

## Accessing of Tuples

In [2]:
# Accessing Tuple with Indexing
tup = tuple("Students")
print(tup)
print(tup[4])

# Accessing a range of elements using slicing
print(tup[1:4])  
print(tup[:3])
print(tup[2::-1])

# Tuple unpacking
tup = ("Raj", "Arun", "Gourav")

# This line unpack values of Tuple
a, b, c = tup
print(a)
print(b)
print(c)

('S', 't', 'u', 'd', 'e', 'n', 't', 's')
e
('t', 'u', 'd')
('S', 't', 'u')
('u', 't', 'S')
Raj
Arun
Gourav

Task:

Print the first and last fruit.

Print the second and fourth elements.

In [5]:
t1 = ("Apple", "Banana", "Orange", "Grapes", "Watermelon")

method 1

In [6]:
print(t1[0], t1[4])
print(t1[1], t1[3])

Apple Watermelon
Banana Grapes

method 2

In [7]:
a, b, c, d, e = t1
print(a, e)
print(b, d)

Apple Watermelon
Banana Grapes

## Concatenation of Tuples

In [19]:
tup1 = (0, 1, 2, 3)
tup2 = ('mango', 'apple', 'Grapes')

tup3 = tup1 + tup2
print(tup3)

(0, 1, 2, 3, 'mango', 'apple', 'Grapes')

## Slicing of Tuple

In [ ]:
tup = tuple('Jhon Doe')

# Removing First element
print(tup[1:])

# Reversing the Tuple
print(tup[::-1])

# Printing elements of a Range
print(tup[2:5])

('h', 'o', 'n', ' ', 'D', 'o', 'e')
('e', 'o', 'D', ' ', 'n', 'o', 'h', 'J')
('o', 'n', ' ')

In [8]:
t1 = ('Elephant')
print(t1)
print(t1[1:6])
print(t1[2:])
print(t1[:4])
print(t1[3::-1])

Elephant
lepha
ephant
Elep
pelE

## Deleting a Tuple

In [30]:
tup = (0, 1, 2, 3, 4)
del tup

print(tup)

NameError: name 'tup' is not defined

In [1]:
dict = {}
print(dict)

{}

## Tuple Unpacking with Asterisk (*)
The " * " operator can be used in tuple unpacking to grab multiple items into a list

In [31]:
tup = (1, 2, 3, 4, 5)

a, *b, c = tup

print(a) 
print(b) 
print(c)

1
[2, 3, 4]
5

# Sets
* A set is a collection of items, unordered and without duplicates.
* Written within '{ }'.

## Creating a Set

In [28]:
set1 = {1, 2, 3, 4, 5}
print(set1)

set2 = set(['a', 'b', 'c']) # Python donâ€™t preserve insertion order when printed
print(set2)

set3 = set('abc')
print(set3)

{1, 2, 3, 4, 5}
{'b', 'c', 'a'}
{'b', 'c', 'a'}

In [10]:
# Creating a set with List
s_1 = set(["Rohan", "Jack", "Anita"])
print(s_1, type(s_1))

# Creating a set with Tuple
s_2 = ("Python", "Java", "C++")
print(set(s_2))

# Create a Set with Dictionary
d = {"Mango": 1, "Apple": 2, "Guava": 3}
print(set(d))

{'Jack', 'Anita', 'Rohan'} <class 'set'>
{'Java', 'Python', 'C++'}
{'Apple', 'Mango', 'Guava'}

In [9]:
# Remove duplicate entries
d1 = {1, 2, 3, 4, 5, 5, 4, 3, 2, 1}
print(d1)

{1, 2, 3, 4, 5}

In [11]:
print(d1[0])

NameError: name 'd1' is not defined

In [10]:
# Unindexed: Accessing elements by index is not possible
# This will raise a TypeError
try:
    print(d1[0])
except TypeError as e:
    print(e)

'set' object is not subscriptable

## Adding Elements to a Set

In [11]:
l = {1, 2, 3}

# Addone item
l.add(4)
print(l)

# Add multiple items
l.update([5, 6])
print(l)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

## Accessing a Set

In [13]:
s1 = set(["Rohan", "Jack", "Anita"])

In [16]:
# Accessing element using For loop
for i in s1:
    print(i, end=",")

Jack,Anita,Rohan,

In [17]:
# Checking the element# using in keyword
print("Rohan" in s1)
print("Jhon" in s1)

True
False

## Removing elements from a set

In [22]:
set1 = {1, 2, 3, 4, 5}

In [23]:
# Using Remove Method
set1.remove(3)
print(set1)  

# Attempting to remove an element that does not exist
try:
    set1.remove(10)
except KeyError as e:
    print("No. is not in the list:", e) 


# Using discard() Method
set1.discard(4)
print(set1)  

# Attempting to discard an element that does not exist
set1.discard(10)  # No error raised
print(set1)

{1, 2, 4, 5}
No. is not in the list: 10
{1, 2, 5}
{1, 2, 5}

In [23]:
# Using pop() method
set1 = {1, 2, 3, 4, 5}
val = set1.pop()
print(val)
print(set1)

# Using pop on an empty set
set1.clear()  # Clear the set to make it empty
try:
    set1.pop()
except KeyError as e:
    print("Error:", e)

1
{2, 3, 4, 5}
Error: 'pop from an empty set'

**Question**

You are given an array arr[] of size n. You have to insert all elements of arr[] into a set and return that set .You are also given a interger x. If x is found in set then erase it from set and print "erased x", otherwise, print "not found".
Example:

n = 5 

arr [ ] = 9 8 7 4 4

In [29]:
n = 5
arr = [9, 8, 7, 4, 4]
# for i in range(n):
#     v = int(input("Enter the number: "))
#     arr.append(v)

print(arr)
s = set(arr)
print(s)

print(4 in s)

s.discard(4)
print(s)

[9, 8, 7, 4, 4]
{8, 9, 4, 7}
True
{8, 9, 7}

TASK:

fruits = {"apple", "banana", "cherry"}
1. Add "mango" and "orange".
2. Remove "banana" using remove().
3. Try to remove "grape" safely (without error).

## Frozen Set

Once a frozenset is created, we cannot modify its elements that is we cannot add, remove or change any items in it.

In [24]:
# Creating a frozenset from a list
fset = frozenset([1, 2, 3, 4, 5])
print(fset)  

# Creating a frozenset from a set
set1 = {3, 1, 4, 1, 5}
fset = frozenset(set1)
print(fset)

frozenset({1, 2, 3, 4, 5})
frozenset({1, 3, 4, 5})

## Typecasting Objects into Sets

In [25]:
# Typecasting list into set
li = [1, 2, 3, 3, 4, 5, 5, 6, 2]
set1 = set(li)
print(set1)

# Typecasting string into set
s = "India"
set1 = set(s)
print(set1)

# Typecasting dictionary into set
d = {1: "One", 2: "Two", 3: "Three"}
set1 = set(d)
print(set1)

{1, 2, 3, 4, 5, 6}
{'d', 'I', 'n', 'a', 'i'}
{1, 2, 3}

In [ ]:
s = {1, 2, 3}
li = list(s) # tuple()
print(li, type(li))

[1, 2, 3] <class 'list'>

## Maximum and Minimum element in a Set

In [29]:
s1 = {4, 12, 10, 9, 4, 13}

print("Minimum element: ", min(s1))      
print("Maximum element: ", max(s1))

Minimum element:  4
Maximum element:  13

In [32]:
l = {6,5,9,8}
max(l)
min(l)

5

## Sorted() function

In [ ]:
s = {5, 3, 9, 1, 7}

# Sorting the set (converts it into a sorted list)
sorted_s = sorted(s)
print(sorted_s, type(sorted_s))

print("Minimum element: ", sorted_s[0])
print("Maximum element: ", sorted_s[-1])

[1, 3, 5, 7, 9] <class 'list'>
Minimum element:  1
Maximum element:  9

## SET operations
____
### Union of sets
* The union of two sets combines all unique elements from both sets.

* Using **|** operator.

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}   # c = {1,2,3,4,5,6}

# Using '|' operator
res1 = A | B
print("using '|':", res1)

# Using union() method
res2 = A.union(B)
print("using union():",res2)

using '|': {1, 2, 3, 4, 5, 6}
using union(): {1, 2, 3, 4, 5, 6}

### Intersection of sets
* The intersection of two sets includes only the common elements present in both sets.
* Using **&** operator.

In [33]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# Using '&' operator
res1 = A & B
print("using '&':",res1)

# Using intersection() method
res2 = A.intersection(B)
print("using intersection():",res2)

using '&': {3, 4}
using intersection(): {3, 4}

### Difference of sets
* The difference between two sets includes elements present in the first set but not in the second.
* Using '-' operator.

In [34]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# Using '-' operator
res1 = A - B
print("using '-':", res1)

# Using difference() method
res2 = A.difference(B)
print("using difference():", res2)

using '-': {1, 2}
using difference(): {1, 2}

### Symmetric Difference
* The symmetric difference of two sets includes elements that are in either set but not in both.
* Using '^' ooperator.

In [35]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# Using '^' operator
res1 = A ^ B
print("using '^':", res1)

# Using symmetric_difference() method
res2 = A.symmetric_difference(B)
print("using symmetric_difference():", res2)

using '^': {1, 2, 5, 6}
using symmetric_difference(): {1, 2, 5, 6}

**QUESTION**

Given some elements in two sets a and b, the task is to find the elements common in two sets, elements in both the sets, elements that are only in set a, not in b.

Example:

a = {1, 2, 3, 4, 5}

b = {6, 7, 8, 2, 3}

In [4]:
a = {1,2,3,4,5}
b = {6,7,8,2,3}

# Elements common in two Sets
# Intersection poperation
c = a & b
print(c)

# Elements in both the Sets
# Union Operation
d = a | b
print(d)

# Elements in a but not in b
# Difference Operation
e = a - b
print(e)

{2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 4, 5}

In a school:

Set A = students who play cricket = {"Ravi", "Anita", "Sonia", "Aman"}

Set B = students who play football = {"Anita", "Rahul", "Aman", "Neha"}

* Find students who play both cricket and football.

* Find students who play only cricket but not football.

* Find students who play either cricket or football, but not both.

In [7]:
Set_A = {"Ravi", "Anita", "Sonia", "Aman"}
Set_B = {"Anita", "Rahul", "Aman", "Neha"}

Set_c = Set_A & Set_B
print(Set_c)

d = Set_A - Set_B
print(d)

e = Set_B - Set_A
print(e)

f = Set_A ^ Set_B
print(f)

{'Aman', 'Anita'}
{'Ravi', 'Sonia'}
{'Rahul', 'Neha'}
{'Neha', 'Ravi', 'Rahul', 'Sonia'}

You are given an array A of size N. you need to insert the elements of A into a multiset and display the results. Also, you need to erase a given element x from the multiset and print "erased x" if successfully erased, else print "not found"

Example:

Input:

N = 10

A[] = 9 8 7 4 4 2 1 1 9 8

x = 1

Output: 

1 1 2 4 4 7 8 8 9 9

erased 1

2 4 4 7 8 8 9 9

Your Task:

Since this is a function problem, you don't need to take any input. Just complete the provided functions. In a new line, print the required output.